.Results {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  
  font-family: 'Righteous', cursive;
  
  img{
    width: 250px;
    height: auto;
  }
  ul{
   display: flex;
  flex-wrap: wrap;
   
  }

}
.repo{
  width: 200px;
  border-radius: 6px;
  margin: 5px;
  padding: 2px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}
